#wrapp{
    display: flex;
    flex-wrap: wrap;
    width: 1144px;

    margin-left:50px;
    margin-top: 20px;

}
.block-img{
    display: none;
}
.portfolio-item{
    display:flex;
}
button{
    height: 25px;
    background-color: lightblue;
}